* {
	margin:0px;
	padding:0px;
}

body {
	background:#FFFFFF;
	font-size:12pt;
		
}
header,#welcome,#about-me,#highlights,#traditionalResume,#video{
	font-family:Calibri,Arial,Helvetica;
}
/*----Header-----*/

header{
	position:fixed;
	z-index: 100;	
	width:100%;
	background:rgb(255,255,255);

}

/*----Header    logo-----*/

header #logo{
	margin-left:10%;
	width:54%;
	padding-top:10px;	
	max-width: 250px;
}

@media screen and (max-width: 400px) {
    header #logo{
        margin-top:5px;
    }
}

/*----Header    Menu-----*/

#principal_nav ul li{
	font-size:1rem;
	list-style:none;
	display:inline-block;
	text-align:center;
	height:65px;
	width:130px;
}

#principal_nav ul li a {
	text-decoration:none;
	cursor:pointer;
    position: relative;
    top: 35%;	
}
#principal_nav ul li a:hover {
	font-weight:bold;
}

#second_nav{
	width: 100%;
	height: 65px;
	background-color: #fff;
	text-align:center;
}

#second_nav ul{
	float:right;
	margin-right: 10%;
}
#second_nav ul li {
	float:right;
	list-style:none;
	position: relative;
	margin-top:10px;
}

#second_nav ul li a{
	color: #000;
	padding: 7px 0px 0px 0px;
	display:block;
	text-decoration:none;
	cursor:pointer;
}

#second_nav ul li ul{
	display:none;
	position:absolute;
	background-color:#fff;
	border-radius: 0px 0px 5px 5px;
}
#second_nav ul li:hover ul{
	display:block;
	color:#FF0000;
}
#second_nav ul li ul li{
	width: 120px;
}
#second_nav ul li ul li a{
	padding: 5px 5px;
}
#second_nav ul li a:hover {
	color:#050BD8;
}

#second_nav ul li #CoverLetterButton{
	padding-top:40px
}

@media screen and (max-width: 1035px) {
    #principal_nav{
        display: none !important;
    }
}
@media screen and (min-width: 1036px) {
    #second_nav{
        display: none !important;
    }
}


/*----section     Welcome-----*/

#welcome{	
	margin:auto;
	height:600px;
	background-image:url('welcome_foto_3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position:left;
	padding-top: 200px;	
	padding-left: 10%;	
}
#welcome-text{
	position:relative;
	width:59%;
}
#welcome-text a{
	color:#000000;
	text-decoration:none;
	cursor:pointer;
}
#welcome-text a:hover{
	color:#050BD8;
}

/*----section     cover-letter-----*/
#about-me{	
	margin:auto;
	height:600px;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:left;
	padding-top:140px;
}
#cover-letter{
	width:500px;
	height:600px;
	
	margin-left:260px;
	padding: 18px 15px;	
}
#cover-letter a{
	color:#000000;
	text-decoration:none;
}
#cover-letter a:hover{
	color:#050BD8;
}
@media screen and (min-width: 1050px) {
	#about-me{	
		background-image:url('office.jpg');
	}
	#cover-letter{
		background-repeat:no-repeat;
		background-image:url('post-it.png');
	}
}

@media screen and (max-width: 1050px) {
		@media screen and (min-width: 600px) {
		#about-me{	
			background-color:#fff;
		}
		#cover-letter{
			margin: auto;
			background-repeat:no-repeat;
			background-image:url('post-it.png');
		}
	}
}
@media screen and (max-width: 1050px) {
	@media screen and (max-width: 600px) {
		#about-me{	
			background-color:#fff;
		}
		#cover-letter{
			margin: auto;	
			width: 90%;
		}
	}
}




/*----section     highlights-----*/
#highlights{	
	position: relative;
	background:#eee;
}

#highlightsMenu_1{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height:600px;
}
.tabla_1_none{
	display:none;
}
.card {
	display:inline-block; 
	margin:auto;
    width: 250px;
	height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	margin-top:25px;
	margin-bottom:25px;
	cursor:pointer;
	background:#fff;
} 
#highlightsMenu_1 h1{
	padding:6px 0px 0px 0px;
}
#highlightsMenu_2{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 70px auto;
}
.tabla_2_none{
	display:none;
}
.card_2 {
	display:inline-block; 
    width: 250px;
	height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	cursor:pointer;
	margin-bottom:50px;
} 
.card_3 {
	display:inline-block; 
    width: 250px;
	height: 40px;
	box-shadow: 0 3px 0 #050BD8;
    text-align: center;
	margin-bottom:50px;
} 
.porfolioTextCard_1 {
	display:inline-block; 
    text-align: left;
	margin-bottom:10px;
} 
.porfolioTextCard_2 {
	display:inline-block; 
    text-align: left;
	margin-bottom:10px;
} 
.porfolioImageCard_1 {
	display:block; 
    text-align: left;
	margin-bottom:10px;
	float:right;
} 
.porfolioImageCard_2 {
	display:block; 
    text-align: left;
	margin-bottom:10px;
	float:right;
} 

#highlightsMenu_2 h1{
	padding:3px 0px 0px 0px;
}
.profileText{
	padding-top:20px;
	padding-left:50px;
}
.profileText_none{
	display:none;
}
.profileImage_none{
	display:none;
}
.porfolioTable_none{
	display:none;
}
.patentsTable_none{
	display:none;
}
.eduCard{
	display:inline-block; 
	margin:auto;
    width: 350px;
	height: 230px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    text-align: center;
	margin-top:25px;
	margin-bottom:25px;
	cursor:pointer;
	float:right;
}
.educationTable_none{
	display:none;
}
#titleCard{
	font-size:14pt;
}
#patText{
	margin-top:20px;
}
#patCard_1{
	display:inline-block; 
	padding:10px;
	cursor:pointer;
}
#patCard_2{
	display:inline-block; 
	padding:10px;
	cursor:pointer;
}
#patCard_3{
	display:inline-block; 
	padding:10px;
}
.space{
	height:100px;	
}

.patCard:hover{
     box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
}

.card:hover{ 
     box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
  }
.card_2:hover{ 
     box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
  }
.eduCard:hover{
	box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
}
@media screen and (min-width: 1250px) {
		.highlights{
			height:1000px;		
		}
		.highlights_1{
			height:1000px;	
		}
		.highlights_2{
			height:1000px;		
		}
		.highlights_3{
			height:1000px;	
		}
		.highlights_4{
			height:1000px;	
		}
		#highlightsMenu_1{
			width:1200px;
		}
		#highlightsMenu_2{
			width:1200px;
		}
		#expertise{
			width: 600px;
			margin-top:20px;
		}
		div.card {
			margin-left:37px;
		}
		div.card_2{
			margin-left:37px;
		}
		div.card_3{
			margin-left:37px;
		}
		.porfolioTextCard_1 {
			width: 740px;
			height:196px;
			padding-left:50px;
			padding-top:50px;
		} 
		.porfolioTextCard_2{
			width: 740px;
			height:290px;
			padding-left:50px;
			padding-top:30px;
		} 
		.porfolioImageCard_1 {
			width: 400px;
		} 
		.porfolioImageCard_2 {
			width: 400px;
			padding-top:30px;
		} 
		.video{
			width: 400px 
		}
		.eduCard{
			margin-left:37px;
		}
		#patText{
			display:inline-block; 
			margin-left:140px;
			width:500px;
		}
		#patCard_1{
			margin-left:10px;
		}
		#patCard_2{
			margin-left:10px;
		}
		#patCard_3{
			margin-left:10px;
		}
		#patentsTable{
			width:1100px;
		}
}
@media screen and (max-width: 1249px) {
	@media screen and (min-width: 850px){
		.highlights{
			height:1300px;	
		}
		.highlights_1{
			height:1300px;	
		}
		.highlights_2{
			height:1300px;	
		}
		.highlights_3{
			height:1300px;	
		}
		.highlights_4{
			height:1300px;	
		}
		#highlightsMenu_1{
			width:800px;
		}
		#highlightsMenu_2{
			width:800px;
		}
		#expertise{
			width: 800px;
			margin-top:20px;
		}
		div.card {
			margin-left:100px;
		}
		div.card_2 {
			margin-left:100px;
		}
		div.card_3 {
			margin-left:100px;
		}
		#hr{
			margin-top:110px;
			margin-bottom:20px;
			margin-left:50px;
		}
		#hr2{
			margin-top:300px;
			margin-bottom:20px;
			margin-left:50px;
		}
		#porfolioFields{
			width:150px;
		}
		.porfolioTextCard_1 {
			width: 740px;
			padding-left:50px;
		} 
		.porfolioTextCard_2{
			width: 740px;
			height:290px;
			padding-left:50px;
			padding-top:10px;
		} 
		.porfolioImageCard_1 {
			float:left;
			padding-left:50px;
		} 
		.porfolioImageCard_2 {
			float:left;
			width: 400px;
			padding-top:5px;
			padding-left:50px;
		} 
		.video{
			width: 350px 
		}
		.eduCard {
			margin-left:30px;
		}
		#patText{
			margin-left:140px;
			width:500px;
		}
		#patCard_1{
			margin-left:140px;
		}
		#patCard_2{
			margin-left:10px;
		}
		#patCard_3{
			margin-left:140px;
		}
		#patentsTable{
			width:1100px;
		}
	}
}
@media screen and (max-width: 849px) {
		.highlights{
			height:2000px;	
		}
		.highlights_1{
			height:2000px;	
		}
		.highlights_2{
			height:2000px;	
		}
		.highlights_3{
			height:2000px;	
		}
		.highlights_4{
			height:2000px;	
		}
		#highlightsMenu_1{
			width:300px;
		}
		#highlightsMenu_2{
			width:300px;
		}
		#expertise{
			width: 300px;
			margin-top:20px;
			padding-left:50px;
		}
		div.card {
			margin-left:100px;
		}
		div.card_2 {
			margin-left:100px;
		}
		div.card_3 {
			margin-left:100px;
		}
		#hr{
			margin-top:110px;
			margin-bottom:20px;
			margin-left:100px;
		}
		#hr2{
			margin-top:300px;
			margin-bottom:20px;
			margin-left:100px;
		}
		.profileText{
			padding-left:50px;
		}
		#porfolioFields{
			width:150px;
		}
		.porfolioTextCard_1 {
			width: 300px;
			padding-left:100px;
		} 
		.porfolioTextCard_2{
			width: 300px;
			height:290px;
			padding-left:100px;
			padding-top:10px;
		} 
		.porfolioImageCard_1 {
			float:left;
			padding-left:100px;
		} 
		.porfolioImageCard_2 {
			float:left;
			width: 300px;
			padding-top:5px;
			padding-left:100px;
		} 
		.video{
			width: 300px 
		}
		.eduCard {
			margin-left:50px;
			margin-top:5px;
		}
		#patText{
			margin-left:140px;
			width:500px;
		}
		#patCard_1{
			margin-left:140px;
		}
		#patCard_2{
			margin-left:10px;
		}
		#patCard_3{
			margin-left:140px;
		}
		#patentsTable{
			width:300px;
		}
		.space{
			height:0px;	
		}

}

/*----section     resume-----*/
#resume{
	width:100%;
}
.slides{
	background:#fff;
	margin: auto;
	height:1600px;
}

.slides_2{
	background:#fff;
	margin: auto;
	height:5950px;
}

#traditionalResume{

}
#download {
	text-align:right;
	margin-top:60px	;
	margin-right:250px;
}
#download a{
	color:#000000;
	text-decoration:none;
}
#download a:hover{
	color:#050BD8;
	text-decoration:none;
}
#tradicional {
	margin: auto;
	width:1220px; /*1130*/
	background:#fff;
}
#tradicional a{
	color:#000000;
	text-decoration:none;
}
#tradicional a:hover{
	color:#050BD8;
	text-decoration:none;
}
#resume_folio {	
	margin: auto;
	background-repeat:no-repeat;
}
#personal {
	border-bottom: 1px solid #ccc;
	margin-top:24px;
	width:82%;
	margin-left:82px;
}
#foto {
	width:120px;
}
#primera {
	padding-top:8px;
	padding-left:35px;
	line-height: 1.9em;
}
.nombre { 
	font-size:1.5rem;
	line-height: 2.2em;	
}
.textoAzul { 
	font-weight:bold; 
	font-size:1.1rem; 
	color:#050BD8; 
}
#profile {
	margin-top:20px;
	width:82%;
	margin-left:82px;
}
#education {
	margin-top:20px;
	width:42%;
	margin-left:80px;
}
#work {
	margin-top:20px;
	width:41%;
	margin-right:72px;
}
#technicalSkills {
	margin-top:20px;
	width:42%;
	margin-left:80px;
}
#language{
	margin-top:20px;
	width:41%;
	margin-right:72px;
}
#titulo {
	text-align:center;
	color:#050BD8;
	font-size:1.1rem;
}
#titulo_left {
	text-align:left;
	color:#050BD8;
	font-size:1.1rem;
}
#contenido {	
  	padding: 5px 5px 5px 0px;	
}
#descripcion {
	font-size:0.95rem;
	margin-left:78px;
	margin-bottom:15px;
}
#descripcion_2 {
	font-size:0.95rem;
	margin-left:138px;
	margin-bottom:15px;
}
#languages{
	padding-left:20px;
}
.languages { 
	line-height: 2.2em;	
}
#text_barra_1{
  background-color: rgb(121,159,205);
  width: 90%;
  height:23px;
  margin-top:4px;
  padding-left:5px;
}
#text_barra_2{
  background-color: rgb(121,159,205);
  width: 65%;
  height:23px;
  margin-top:12px;
  padding-left:5px;
}
#text_barra_3{
  background-color: rgb(121,159,205);
  width: 45%;
  height:23px;
  margin-top:12px;
  padding-left:5px;
}
#text_barra_4{
  background-color: rgb(121,159,205);
  width: 25%;
  height:23px;
  margin-top:12px;
  padding-left:5px;
}
#fin{
	height:1300px;
}

#link{
	width:100px;
	height:2235px;
}
#link_1{
	width:100px;
	height:2px;
}
#link_show{
	width:100px;
	height:1330px;
	cursor:pointer;
	background-image:url('linkToWiki.png');
}
#link_show_2{
	width:100px;
	height:1330px;
	cursor:pointer;
}
#link_show:hover{
     box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
}
#link_show_2:hover{
     box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
}
#link_none{
	width:100px;
}
@media screen and (max-width: 1200px) {
	#link_show{
		display:none;
	}
}
@media screen and (min-width: 1100px) {
	.cv_image{
		display:none;
	}
}

@media screen and (max-width: 1100px) {
	#tradicional{
		display:none;
	}
	.cv_image{	
		margin:auto;
		width:90%;
		margin:10px auto;
		display:block;
	}
	#download {
		margin-right:5%;
	}
}

/*-Wiki*/

#wiki{
	background:#fff;
	width:100%;
	max-width:1250px;
	height:10000px;
	margin:auto;
}

#wiki_folio {	
	margin: auto;
	width:100%;
	margin-top:80px;
}
#recuadro{
	width:400px;
}
	#wiki a{
		text-decoration:none;
		color:#0645ad;
		background:none
	}
	#wiki a:not( [href] ){
		cursor:pointer
	}
	#wiki a:visited{
		color:#0b0080
	}
	#wiki a:active{
		color:#faa700
	}
	#wiki a:hover,#wiki a:focus{
		text-decoration:underline
	}
	
	#wiki h1,#wiki h2,#wiki h3,#wiki h4,#wiki h5,#wiki h6{
		color:#000;
		background:none;
		font-weight:normal;
		margin:0;
		overflow:hidden;
		padding-top:0.5em;
		padding-bottom:0.17em;
		border-bottom:1px solid #a2a9b1
	}
	#wiki h3,#wiki h4,#wiki h5,#wiki h6{border-bottom:0;font-weight:bold}
	#wiki h1,#wiki h2{margin-bottom:0.6em}
	#wiki h3,#wiki h4,#wiki h5{margin-bottom:0.3em}

	ul{
		list-style-type:square;
		margin:0.3em 0 0 1.6em;
		padding:0
	}
	ol{
		margin:0.3em 0 0 3.2em;
		padding:0;
		list-style-image:none
	}
	#toc,.toc{
		background-color:#f9f9f9;
		border:1pt solid #aaa;
		padding:5px;display:table
	}
	dt{
		font-weight:bold;
		margin-bottom:0.1em
	}
	dl{
		margin-top:0.2em;
		margin-bottom:0.5em
	}
	dd{
		margin-left:1.6em;
		margin-bottom:0.1em
	}
	#toc,.toc{
		display:inline-block;
		display:table;
		zoom:1;
		*display:inline;
		padding:7px
	}
	table#toc,table.toc{
		border-collapse:collapse
	}
	table#toc td,table.toc td{
		padding:0
	}
	#toc h2,.toc h2{
		display:inline;
		border:0;
		padding:0;
		font-size:100%;
		font-weight:bold
	}
	#toc #toctitle,.toc #toctitle,#toc .toctitle,.toc .toctitle{
		text-align:center
	}
	#toc ul,.toc ul{
		list-style-type:none;
		list-style-image:none;
		margin-left:0;
		padding:0;
		text-align:left
	}
	#toc ul ul,.toc ul ul{
		margin:0 0 0 2em
	}
	.tocnumber,.toctext{
		display:table-cell;
		text-decoration:inherit
	}
	.tocnumber{padding-left:0;
		padding-right:0.5em;
		color:#222
	}
	.mw-content-ltr .tocnumber{
		padding-left:0;
		padding-right:0.5em
	}
	.mw-content-rtl .tocnumber{
		padding-left:0.5em;
		padding-right:0
	}

	html{
		font-size:100%
	}
	html,wiki{
		height:100%;margin:0;
		padding:0;
		font-family:sans-serif
	}
	.mw-body,.parsoid-body{
		padding:1em;
		background-color:#ffffff;
		color:#222222;
		direction:ltr
	}
	.mw-body{
		margin-left:10em;
		border:1px solid #a7d7f9;
		border-right-width:0;
		margin-top:-1px
	}
	.mw-body h1,.mw-body-content h1,.mw-body-content h2{
		font-family:'Linux Libertine','Georgia','Times',serif;
		line-height:1.3;
		margin-bottom:0.25em;
		padding:0
	}
	.mw-body h1,.mw-body-content h1{
		font-size:1.8em
	}
	.mw-body .firstHeading{
		overflow:visible
	}
	.mw-body .mw-indicators{
		float:right;
		line-height:1.6;
		font-size:0.875em;
		position:relative;
		z-index:1
	}
	.mw-body .mw-indicator{
		display:inline-block;
		zoom:1;*display:inline
	}
	.mw-body-content{
		position:relative;
		line-height:1.6;
		font-size:0.875em;
		z-index:0
	}
	.mw-body-content p{
		line-height:inherit;
		margin:0.5em 0
	}
	.mw-body-content h1{
		margin-top:1em
	}
	.mw-body-content h2{
		font-size:1.5em;
		margin-top:1em
	}
	.mw-body-content h3,.mw-body-content h4,.mw-body-content h5,.mw-body-content h6{
		line-height:1.6;
		margin-top:0.3em;
		margin-bottom:0;
		padding-bottom:0
	}
	.mw-body-content h3{
		font-size:1.2em
	}
	.mw-body-content h3,.mw-body-content h4{
		font-weight:bold
	}
	.mw-body-content h4,.mw-body-content h5,.mw-body-content h6{
		font-size:100%
	}
	.mw-body-content #toc h2,.mw-body-content .toc h2{
		font-size:100%;
		font-family:sans-serif
	}
	.mw-editsection,.mw-editsection-like{
		font-family:sans-serif
	}
	#mw-navigation h2{position:absolute;top:-9999px}
	#mw-page-base{
		height:5em;
		background-position:bottom left;
		background-repeat:repeat-x;
		background-image:url(/w/skins/Vector/images/page-fade.png?1d168);
		background-color:#f6f6f6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(50%,#ffffff),color-stop(100%,#f6f6f6));
		background-image:-webkit-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
		background-image:-moz-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
		background-image:linear-gradient(#ffffff 50%,#f6f6f6 100%);
		background-color:#ffffff
	}
	div#mw-panel{
		font-size:inherit;
		position:absolute;
		top:0;
		width:10em;
		left:100
	}
	div#mw-panel div.portal{
		margin:0 0.6em 0 0.7em;
		padding:0.25em 0;
		direction:ltr;
		background-position:top left;
		background-repeat:no-repeat
	}
	div#mw-panel div.portal h3{
		font-size:0.75em;
		color:#444444;
		font-weight:normal;
		margin:0.5em 0 0 0.66666667em;
		padding:0.25em 0;
		cursor:default;
		border:0
	}
	
	#toc,.toc{background-color:#f9f9f9;border:1pt solid #aaa;padding:5px;display:table;font-size:13px;}
	
.infobox{border:1px solid #a2a9b1;border-spacing:3px;background-color:#f8f9fa;color:black;margin:0.5em 0 0.5em 1em;padding:0.2em;float:right;clear:right;font-size:88%;line-height:1.5em}
.infobox caption{font-size:125%;font-weight:bold;padding:0.2em;text-align:center}
.infobox td,.infobox th{vertical-align:top;text-align:left}
.infobox.bordered{border-collapse:collapse}
.infobox.bordered td,.infobox.bordered th{border:1px solid #a2a9b1}
.infobox.bordered .borderless td,.infobox.bordered .borderless th{border:0}
.infobox.sisterproject{width:20em;font-size:90%}
.infobox.standard-talk{border:1px solid #c0c090;background-color:#f8eaba}
.infobox.standard-talk.bordered td,.infobox.standard-talk.bordered th{border:1px solid #c0c090}
.infobox.bordered .mergedtoprow td,.infobox.bordered .mergedtoprow th{border:0;border-top:1px solid #a2a9b1;border-right:1px solid #a2a9b1}
.infobox.bordered .mergedrow td,.infobox.bordered .mergedrow th{border:0;border-right:1px solid #a2a9b1}
.infobox.geography{border-collapse:collapse;line-height:1.2em;font-size:90%}
.infobox.geography td,.infobox.geography th{border-top:1px solid #a2a9b1;padding:0.4em 0.6em 0.4em 0.6em}
.infobox.geography .mergedtoprow td,.infobox.geography .mergedtoprow th{border-top:1px solid #a2a9b1;padding:0.4em 0.6em 0.2em 0.6em}
.infobox.geography .mergedrow td,.infobox.geography .mergedrow th{border:0;padding:0 0.6em 0.2em 0.6em}
.infobox.geography .mergedbottomrow td,.infobox.geography .mergedbottomrow th{border-top:0;border-bottom:1px solid #a2a9b1;padding:0 0.6em 0.4em 0.6em}
.infobox.geography .maptable td,.infobox.geography .maptable th{border:0;padding:0}


#imagesThumb{
	display:inline-block; 
	background:#eee;
	margin-top:20px;
	text-align:center;
	border:1pt solid #aaa;
	font-size:12px
}
#textThumb{
	display:inline-block; 
}
#imageThumb{
	display:inline-block; 
	background:#eee;
	border:1pt solid #aaa;
	float:right;
	font-size:12px;
	margin-left:5px;
	text-align:center;
}
#textT{
	text-align:left;
	margin-left:5px;
}


/*----section     video-----*/
.videoCardText{
		font-size:40pt;
		position: relative;
		float: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

@media screen and (min-width: 1501px) {
	.videoCard{
		width: 678px;
		height: 381px;
		text-align: center;
		font-size:40pt;
		background:#050BD8;
		color:white;
		margin-top:-85px;
		margin-left:740px;
		float:left;
	}
	#video{
		margin:auto;
		height:600px;
		background-image:url('living_room.jpg');
		background-repeat:no-repeat;
		background-size: none;
		background-position:left;
		padding-top: 200px;	
	}
	.video_tv {
		float:left;
		width: 100px;
		margin-top:-85px;
		margin-left:740px;
	}
	.video_2{
		width: 680px; 
	}
}
@media screen and (max-width: 1500px) {
	.videoCard{
		margin:auto;
		max-width: 678px;
		height: 381px;
		width: 50%;
		text-align: center;
		background:#050BD8;
		color:white;
	}
	#video{
		margin:auto;
		height:600px;
		padding-top: 200px;	
		background:#eee;
	}
	.video_tv {
		margin-top:-85px;
		margin:auto;
	}
	.video_2{
		max-width: 680px; 
		width: 90%; 
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
/*----Contact-----*/
#contact{
	background:#fff;
	height:600px;
}
#contact_table{
	margin: auto;
	padding-top: 170px;	
}
#contact_link:hover{
	 cursor:pointer;
}
#contact_link:hover{
	 box-shadow: 1px 8px 20px rgba(1, 1, 0,1);
    -webkit-transition:  box-shadow .2s ease-in;
}

/*----Footer-----*/
footer{
	bottom:0;
	margin-top:30px;
	text-align:center;
	color:#404040;
	font-size:0.8rem;
	width:100%;
	background:#FFFFFF;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 150px auto; /* 15% from the top and centered */
    padding: 0px 10px 10px 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	min-height: 55px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
